DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"
PORT=5000
CLIENT_URL=http://localhost:5173
GIPHY_API_KEY=
TURN_SERVER_URL=
TURN_USERNAME=
TURN_PASSWORD=
NODE_ENV=development
VITE_API_URL=http://localhost:5000
VITE_SOCKET_URL=http://localhost:5000
